.sound-button {
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("https://dev-lrns.pep.ift.pearson-intl.com/activities/assets/images/sound-button.png") no-repeat;
  border: 0;
  cursor: pointer; }

.instruction-line {
  padding: 25px;
  text-align: center; }
  .instruction-line__text {
    vertical-align: middle;
    font-size: 25px; }

/**
 * Heinemann Roman
 */
@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.lrn .row {
  width: 100%; }

.invalid-field-message {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

@keyframes shake-horizontal {
  0% {
    transform: translateX(-5px); }
  25% {
    transform: translateX(0); }
  50% {
    transform: translateX(5px); }
  100% {
    transform: translateX(0); } }

@keyframes glitter {
  0% {
    -webkit-transform: scale(1);
    opacity: 1; }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

.colouring {
  font-family: "Heinemann Roman", Arial, sans-serif;
  background: url("https://dev-lrns.pep.ift.pearson-intl.com/activities/assets/images/card-pattern.svg"); }
  .colouring__invalid-image-format {
    padding: 10px;
    width: 150px;
    height: 150px;
    font-size: 20px;
    border: 1px solid #000; }
  .colouring input {
    display: none; }
  .colouring .content {
    display: flex; }
  .colouring .shape {
    position: relative;
    margin: 0 5px;
    flex-grow: 1;
    text-align: center;
    max-width: 400px;
    max-height: 400px; }
    .colouring .shape canvas {
      width: 100%;
      height: 100%; }
  .colouring .shapes .divider {
    width: 100%;
    height: 1px; }
  .colouring img.glitter-star {
    position: absolute;
    height: 16px;
    width: 16px;
    animation: glitter 2s linear 0s normal;
    -webkit-animation: glitter 2s 0s normal;
    -moz-animation: glitter 2s linear 0s normal;
    -ms-animation: glitter 2s linear 0s normal;
    -o-animation: glitter 2s linear 0s normal; }
  .colouring .shake-horizontal {
    animation: shake-horizontal 0.5s linear; }
  .colouring .shapes {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .colouring .shapes canvas {
      cursor: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/cursor.png"), pointer; }
  .colouring .instructions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
    word-break: break-word; }
    .colouring .instructions p {
      margin: 0; }
  .colouring .menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 16px 16px 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #f6d9f8;
    box-shadow: 1px 0 2px 0 #f6d9f8;
    width: 60px;
    height: 100%; }
    .colouring .menu label {
      display: flex;
      justify-content: space-evenly; }
  .colouring .button {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 10px;
    cursor: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/cursor.png"), pointer; }
  .colouring .button span {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease 0.3s; }
  .colouring .selected-menu-item {
    align-self: center;
    margin-left: -7px; }
  .colouring input:checked ~ .button span:after {
    content: " ";
    display: block;
    width: 0.3em;
    height: 0.6em;
    border: 3px solid #fff;
    border-width: 0 0.2em 0.2em 0;
    position: absolute;
    left: 0.8em;
    top: 40%;
    margin-top: -0.2em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 45%; }
  .colouring .button span:hover {
    padding: 10px; }

