.sound-button {
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("https://dev-lrns.pep.ift.pearson-intl.com/activities/assets/images/sound-button.png") no-repeat;
  border: 0;
  cursor: pointer; }

.instruction-line {
  padding: 25px;
  text-align: center; }
  .instruction-line__text {
    vertical-align: middle;
    font-size: 25px; }

/**
 * Heinemann Roman
 */
@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.lrn .row {
  width: 100%; }

.invalid-field-message {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

.card-wrapper {
  justify-content: space-between; }
  .card-wrapper h1 {
    min-height: 60px; }

.disclaimer {
  display: block;
  font: 14px italic; }

.lrn-qe .lrn-qe-ui .lrn-qe-form-group-wrapper {
  margin-bottom: 1.5em; }

.flashcards {
  font-family: "Heinemann Roman", Arial, sans-serif;
  padding: 35px 10px;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center; }
  .flashcards .playground {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    margin-bottom: -15px; }
    .flashcards .playground .cards-row {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
      max-width: 100%; }
    .flashcards .playground .card {
      max-width: 150px;
      max-height: 150px;
      user-select: none;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      margin: 8px;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      border-radius: 16px; }
      .flashcards .playground .card div {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        color: #000; }
      .flashcards .playground .card .back {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 7px 3px #b7b7b7; }
        .flashcards .playground .card .back img {
          height: 100%; }
      .flashcards .playground .card .front {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: rotateY(-180deg);
        background: #f1f1f1;
        overflow: hidden; }
        .flashcards .playground .card .front img {
          width: 100%;
          object-fit: cover; }
        .flashcards .playground .card .front p {
          margin: 0;
          padding: 0 5px;
          width: 100%;
          min-height: 25px;
          font-size: 16px;
          font-weight: bold;
          color: #000; }
        .flashcards .playground .card .front img + p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .flashcards .playground .card.opened {
        transform: rotateY(-180deg);
        box-shadow: none; }
      .flashcards .playground .card.matched {
        box-sizing: border-box;
        transform: rotateY(-180deg);
        box-shadow: none; }
        .flashcards .playground .card.matched .front {
          border: 4px solid #7fbd32; }

@media screen and (max-width: 800px) {
  .flashcards .playground .card .front p {
    font-size: 14px; } }

@media screen and (max-width: 599px) {
  .flashcards .playground .card .front p {
    font-size: 12px; } }

