.sound-button {
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("https://dev-lrns.pep.ift.pearson-intl.com/activities/assets/images/sound-button.png") no-repeat;
  border: 0;
  cursor: pointer; }

.instruction-line {
  padding: 25px;
  text-align: center; }
  .instruction-line__text {
    vertical-align: middle;
    font-size: 25px; }

/**
 * Heinemann Roman
 */
@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.lrn .row {
  width: 100%; }

.invalid-field-message {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

@keyframes error-shake {
  0% {
    transform: translateX(0); }
  60% {
    transform: translateX(0); }
  75% {
    transform: translateX(-8px); }
  85% {
    transform: translateX(0); }
  88% {
    transform: translateX(3px); }
  92% {
    transform: translateX(0); }
  96% {
    transform: translateX(3px); }
  100% {
    transform: translateX(0); } }

@keyframes sparkle {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.matching {
  padding: 10px 10px 30px 10px;
  font-family: "Heinemann Roman", Arial, sans-serif;
  text-align: center;
  background: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/card-pattern.svg") #f5f5f5; }
  .matching__wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .matching__instructions {
    margin: 0;
    padding: 20px 10px 12px 10px;
    text-align: center;
    font-size: 16px; }
  .matching__indication {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    background: #fff; }
    .matching__indication.sound {
      border: none;
      background: transparent; }
    .matching__indication.image {
      padding: 5px;
      overflow: hidden;
      align-items: flex-start; }
      .matching__indication.image img {
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; }
    .matching__indication.text {
      font-size: 18px; }
    .matching__indication.success {
      border-color: #81bb3d; }
    .matching__indication.error {
      border-color: #de1b24; }
    .matching__indication .card-player {
      width: 66px;
      height: 66px;
      border: none;
      outline: none;
      background: #35a270 url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/play-button.svg") 0 0/100% 100% no-repeat;
      box-shadow: 0 0 16px #e6e6e6;
      border-radius: 50%;
      cursor: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/cursor.png"), pointer; }
      .matching__indication .card-player.pause {
        background: #35a270 url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/pause-button.svg") 0 0/100% 100% no-repeat; }
  .matching__cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px; }
  .matching__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    margin: 0 5px;
    border: 5px solid #403d4f;
    border-radius: 16px;
    background: #fff;
    cursor: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/cursor.png"), pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    user-select: none; }
    .matching__card::after {
      content: "";
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      opacity: 0;
      border-radius: 8px;
      background: #81bb3d url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/check-mark.svg") center no-repeat;
      transition: opacity 0.7s linear 0.5s; }
    .matching__card.success {
      border-color: #81bb3d; }
      .matching__card.success::after {
        opacity: 1; }
    .matching__card.error {
      border-color: #de1b24;
      animation: error-shake 0.8s linear; }
    .matching__card .card-image-wrapper {
      flex-grow: 1;
      overflow: hidden;
      border-radius: 11px 11px 0 0; }
      .matching__card .card-image-wrapper.without-text {
        border-radius: 11px; }
    .matching__card img {
      width: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover; }
    .matching__card p {
      margin: 0 !important;
      padding: 0 5px;
      width: 100%;
      min-height: 25px;
      font-size: 30px;
      font-weight: bold;
      color: #000;
      word-break: break-word;
      overflow: hidden; }
    .matching__card .card-image-wrapper + p {
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px; }
  .matching__shine-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: -18px;
    left: -18px;
    width: 30px;
    height: 30px; }
    .matching__shine-top img:first-child {
      margin-top: 15px; }
    .matching__shine-top img:last-child {
      margin-left: 5px; }
  .matching__shine-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: -18px;
    right: -18px;
    width: 30px;
    height: 30px; }
    .matching__shine-bottom img:first-child {
      margin-right: 5px; }
    .matching__shine-bottom img:last-child {
      margin-bottom: 15px; }
  .matching__shine-top img, .matching__shine-bottom img {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    margin: 0;
    opacity: 0; }
  .matching__shine-top.sparkle img:first-child, .matching__shine-bottom.sparkle img:first-child {
    animation: sparkle 2s; }
  .matching__shine-top.sparkle img:last-child, .matching__shine-bottom.sparkle img:last-child {
    animation: sparkle 2s linear 0.3s; }

@media screen and (max-width: 599px) {
  .matching__card p {
    font-size: 13px; } }

