.sound-button {
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("https://rolaru.github.io/learnosity-custom-questions/assets/images/sound-button.png") no-repeat;
  border: 0;
  cursor: pointer; }

.instruction-line {
  padding: 25px;
  text-align: center; }
  .instruction-line__text {
    vertical-align: middle;
    font-size: 25px; }

/**
 * Heinemann Roman
 */
@font-face {
  font-family: "Heinemann Roman";
  src: url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.woff") format("woff"), url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.woff") format("woff"), url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.woff") format("woff"), url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.woff") format("woff"), url("https://rolaru.github.io/learnosity-custom-questions/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.lrn .row {
  width: 100%; }

.invalid-field-message {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

@keyframes shake-horizontal {
  0% {
    transform: translateX(-15px); }
  25% {
    transform: translateX(0); }
  50% {
    transform: translateX(15px); }
  100% {
    transform: translateX(0); } }

@keyframes sparkle {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.one-line-word-snake {
  font-family: "Heinemann Roman", Arial, sans-serif;
  text-align: center;
  background: url("https://rolaru.github.io/learnosity-custom-questions/assets/images/card-pattern.svg");
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  user-select: none;
  padding-bottom: 150px; }
  .one-line-word-snake__title {
    margin: 0;
    padding: 20px 10px 12px 10px;
    text-align: center;
    font-size: 16px; }
  .one-line-word-snake__wrapper {
    position: relative;
    display: inline-block; }
  .one-line-word-snake__line {
    position: relative;
    display: flex;
    margin: 0;
    z-index: 10;
    cursor: url("https://rolaru.github.io/learnosity-custom-questions/assets/images/cursor.png"), pointer; }
  .one-line-word-snake__letter {
    box-sizing: content-box !important;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 6px;
    line-height: 40px;
    font-size: 40px;
    color: #d2d2d2;
    cursor: url("https://rolaru.github.io/learnosity-custom-questions/assets/images/cursor.png"), pointer; }
    .one-line-word-snake__letter.focused {
      color: #fff; }
  .one-line-word-snake__selection {
    position: absolute;
    z-index: 5;
    background-color: #413d51;
    border-radius: 50px;
    transition: width 0.2s, height 0.2s; }
    .one-line-word-snake__selection.mismatch {
      background: linear-gradient(180deg, #fa89a3 52.07%, #fa89a3 52.08%, #f85178 52.09%);
      animation: shake-horizontal 0.5s linear; }
  .one-line-word-snake__shine-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px; }
    .one-line-word-snake__shine-top img:first-child {
      margin-top: 15px; }
    .one-line-word-snake__shine-top img:last-child {
      margin-left: 5px; }
  .one-line-word-snake__matched {
    position: absolute;
    z-index: 7;
    background: linear-gradient(180deg, #a8d274 52.08%, #76c09e 52.09%, #7fbd32 52.1%);
    border-radius: 50px; }
    .one-line-word-snake__matched.vertical {
      background: linear-gradient(90deg, #a8d274 52.08%, #76c09e 52.09%, #7fbd32 52.1%); }
    .one-line-word-snake__matched img {
      opacity: 0; }
  .one-line-word-snake__shine-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px; }
    .one-line-word-snake__shine-bottom img:first-child {
      margin-right: 5px; }
    .one-line-word-snake__shine-bottom img:last-child {
      margin-bottom: 15px; }
  .one-line-word-snake__shine-top.sparkle img:first-child, .one-line-word-snake__shine-bottom.sparkle img:first-child {
    animation: sparkle 2s; }
  .one-line-word-snake__shine-top.sparkle img:last-child, .one-line-word-snake__shine-bottom.sparkle img:last-child {
    animation: sparkle 2s linear 0.3s; }
  .one-line-word-snake__images {
    margin-top: 40px; }
    .one-line-word-snake__images .word-image {
      display: inline-block;
      position: relative;
      margin: 0 5px; }
      .one-line-word-snake__images .word-image__check {
        position: absolute;
        top: -6px;
        right: -6px;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        background: #7fbd32;
        border-radius: 8px; }
        .one-line-word-snake__images .word-image__check > img {
          vertical-align: middle;
          width: 15px;
          margin-top: -3px; }
      .one-line-word-snake__images .word-image > img {
        width: 64px;
        height: 64px;
        border-radius: 50%; }

