.sound-button {
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("https://dev-lrns.pep.ift.pearson-intl.com/activities/assets/images/sound-button.png") no-repeat;
  border: 0;
  cursor: pointer; }

.instruction-line {
  padding: 25px;
  text-align: center; }
  .instruction-line__text {
    vertical-align: middle;
    font-size: 25px; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(24px, 0); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 100; }
  .loading-spinner__wrapper {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px; }
    .loading-spinner__wrapper > div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #b0b0b0;
      animation-timing-function: cubic-bezier(0, 1, 1, 0); }
      .loading-spinner__wrapper > div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite; }
      .loading-spinner__wrapper > div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite; }
      .loading-spinner__wrapper > div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite; }
      .loading-spinner__wrapper > div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite; }

/**
 * Heinemann Roman
 */
@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.lrn .row {
  width: 100%; }

.invalid-field-message {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

.tracing {
  text-align: center; }
  .tracing__container {
    position: relative; }
  .tracing__playground {
    position: relative;
    display: inline-block; }
    .tracing__playground svg {
      height: 60vh; }
      .tracing__playground svg path {
        stroke-linecap: round; }
      .tracing__playground svg .progress {
        stroke: #403e50; }
        .tracing__playground svg .progress.animated {
          transition: stroke-dasharray 0.1s, stroke-dashoffset 0.1s; }
        .tracing__playground svg .progress.completed {
          stroke: #6ab25e; }
  .tracing__cursor {
    position: absolute;
    border-radius: 50%;
    background: url("https://dev-lrns.pep.ift.pearson-intl.com/activities/assets/images/tracing-fill-cursor.svg") 50% 50%/125% 125% no-repeat;
    transition: top 0.1s, left 0.1s; }

