.sound-button {
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("https://dev-lrns.pep.ift.pearson-intl.com/activities/assets/images/sound-button.png") no-repeat;
  border: 0;
  cursor: pointer; }

.instruction-line {
  padding: 25px;
  text-align: center; }
  .instruction-line__text {
    vertical-align: middle;
    font-size: 25px; }

/**
 * Heinemann Roman
 */
@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BdIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-Blk.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Heinemann Roman";
  src: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.woff") format("woff"), url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/fonts/Heinemann-Roman/HeinemannRoman-BlkIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

.lrn .row {
  width: 100%; }

.invalid-field-message {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

@keyframes shake-horizontal {
  0% {
    transform: translateX(-15px); }
  25% {
    transform: translateX(0); }
  50% {
    transform: translateX(15px); }
  100% {
    transform: translateX(0); } }

@keyframes shake-diagonal {
  0% {
    transform: translate(-7px, -7px) rotate(45deg); }
  25% {
    transform: translate(0, 0) rotate(45deg); }
  50% {
    transform: translate(7px, 7px) rotate(45deg); }
  100% {
    transform: translate(0, 0) rotate(45deg); } }

@keyframes shake-vertical {
  0% {
    transform: translateY(-15px); }
  25% {
    transform: translateY(0); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0); } }

@keyframes sparkle {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.word-snake {
  font-family: "Heinemann Roman", Arial, sans-serif;
  text-align: center;
  background: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/card-pattern.svg"); }
  .word-snake__title {
    margin: 0;
    padding: 20px 10px 12px 10px;
    text-align: center;
    font-size: 16px; }
  .word-snake__matrix-wrapper {
    position: relative;
    display: inline-block; }
  .word-snake__selection {
    position: absolute;
    z-index: 5;
    background-color: #413d51;
    border-radius: 50px;
    transition: all 0.2s; }
    .word-snake__selection.mismatch {
      background: linear-gradient(180deg, #fa89a3 52.07%, #fa89a3 52.08%, #f85178 52.09%); }
      .word-snake__selection.mismatch.horizontal {
        animation: shake-horizontal 0.5s linear; }
      .word-snake__selection.mismatch.diagonal {
        animation: shake-diagonal 0.5s linear; }
      .word-snake__selection.mismatch.vertical {
        background: linear-gradient(90deg, #fa89a3 52.07%, #fa89a3 52.08%, #f85178 52.09%);
        animation: shake-vertical 0.5s linear; }
  .word-snake__matched {
    position: absolute;
    z-index: 7;
    background: linear-gradient(180deg, #a8d274 52.08%, #76c09e 52.09%, #7fbd32 52.1%);
    border-radius: 50px; }
    .word-snake__matched.vertical {
      background: linear-gradient(90deg, #a8d274 52.08%, #76c09e 52.09%, #7fbd32 52.1%); }
    .word-snake__matched img {
      opacity: 0; }
  .word-snake__shine-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px; }
    .word-snake__shine-top img:first-child {
      margin-top: 15px; }
    .word-snake__shine-top img:last-child {
      margin-left: 5px; }
  .word-snake__shine-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px; }
    .word-snake__shine-bottom img:first-child {
      margin-right: 5px; }
    .word-snake__shine-bottom img:last-child {
      margin-bottom: 15px; }
  .word-snake__shine-top.sparkle img:first-child, .word-snake__shine-bottom.sparkle img:first-child {
    animation: sparkle 2s; }
  .word-snake__shine-top.sparkle img:last-child, .word-snake__shine-bottom.sparkle img:last-child {
    animation: sparkle 2s linear 0.3s; }
  .word-snake__matrix {
    position: relative;
    display: inline-block;
    padding-bottom: 150px;
    z-index: 10;
    cursor: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/cursor.png"), pointer; }
    .word-snake__matrix--line {
      margin: 0;
      display: flex; }
    .word-snake__matrix--letter {
      box-sizing: content-box !important;
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 6px;
      line-height: 40px;
      font-size: 40px;
      color: #d2d2d2;
      cursor: url("https://daniel-vlad.github.io/learnosity-demo-dist/assets/images/cursor.png"), pointer;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      user-select: none; }
      .word-snake__matrix--letter.focused {
        color: #fff; }
  .word-snake__images {
    margin-top: 15px; }
    .word-snake__images img {
      width: 64px;
      height: 64px;
      border-radius: 50%; }

